**/cmake-build-debug
**/.ipynb_checkpoints
**/__pycache__
lab5/interpolation/src/Errors.xlsx
lab5/interpolation/src/.~lock.Errors.xlsx#
lab6/spline/src/Errors.xlsx
lab6/spline/src/.~lock.Errors.xlsx#
